.container {
  background-image: linear-gradient(white, transparent, var(--light-green), white), url('../../images/bcg_about.jpeg');
  background-size: cover;
}
.wrap {
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
  max-width: 1440px;
}
.content_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.about_wrap {
  display: flex;
  align-items: start;
  justify-content: right;
}
.text {
  margin-bottom: 15px;
  font-size: 18px;
}
.card {
  width: 700px;
  background-color: var(--accent-color-2);
  color: #000;
  border-radius: 0 16px 16px 16px;
  -webkit-box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 21%);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 15%);
  padding: 16px;
}
.card_deckr {
  width: 500px;
  font-size: 16px;
  background-color: var(--accent-color-2);
  color: #000;
  border-radius: 0 16px 16px 16px;
  -webkit-box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 21%);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 15%);
  padding: 16px;
}
.icon {
  width: 64px;
  height: 64px;
  fill: var(--accent-color);
}
.title {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Railway;
  font-size: 48px;
}
.text_accent {
  /* font-style: italic; */
  color: var(--text-color-green);
  font-weight: 700;
}
.textContainer {
  display: flex;
}
.dog_img {
  width: 400px;
  height: 500px;
}
