.hero{
  display: flex;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-image: linear-gradient(white, var(--light-green)), url('../../images/bcg_kyiv.jpeg');
  background-size: cover;
}
.hero_text_container{
  margin-top: auto;
  margin-bottom: auto;
}
.hero_bcg_img{
  position: absolute;
  top: 131px;
  left: 0;
}
.icon{
  width: 22px;
  height: 22px;
  fill: var(--accent-color-2);
  padding-right: 4px;
}
.hero_text{
  font-family: 'Lobster', cursive;
  font-size: 2.2em;
  color: var(--accent-color);
  /* margin-left: 710px;
  margin-top: 100px; */
}
.hero_list{
  margin-top: 20px;
  margin-left: 700px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.2em;
  color: var(--text-color-green);
}
.hero_list_item{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.hero_btn {
  cursor: pointer;
  border: none;
  background-color: var(--text-color-green);
  padding: 12px 12px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 720px;
}
.hero_btn:hover {
  background-color: var(--bg-color);
}
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 150;
}

.lightbox_overlay {
  position: absolute;
  /* overflow: auto; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.lightbox_content {
  /* pointer-events: initial; */
  position: fixed;
  overflow: auto;
  top: 180px;
  width: 300px;
  height: 800px;
  background-color: var(--main-green);
  transform: scale(0.95);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lightbox_button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  /* background-image: url("../../images/icon-close.svg"); */
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox_button:hover,
.lightbox_button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .hero{
    min-width: 768px;
    height: 300px;
  }
  .hero_bcg_img{
    /* width: 40%; */
  }
}
@media screen and (min-width: 1024px) {
  .hero{
    /* min-width: 1024px; */
    display: flex;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_bcg_img{
    width: 650px;
    top: 127px;
    left: 0px;
  }
  .hero_text{
    margin-left: 710px;
    /* margin-top: 100px; */
  }
}