.Title {
  text-align: center;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Railway;
  font-size: 32px;
}
.Text {
  margin-bottom: 15px;
  font-size: 18px;
}
.Text__orange {
  color: #e77500;
  font-weight: 600;
}
.TextContainer {
  display: flex;
}
.List {
  color: #e77500;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 15px;
  margin-left: 20px;
}
.List__item {
  font-size: 18px;
  margin-left: 20px;
  padding-bottom: 5px;
}
