.Title {
  text-align: center;
  font-style: italic;
  margin-top: 15px;
  font-family: Railway;
  font-size: 32px;
}
.Text {
  padding-left: 60px;
  padding-right: 60px;
  font-size: 18px;
}
.Text__orange {
  color: #e77500;
  font-weight: 600;
}
.Container {
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}
