:root {
  --bg-color: #81c05a;
  --text-color: #585858;
  --text-color-green: #468107;
  --main-green: #b8d762;
  --main-green-2: #528036;
  --light-green: #b3d55d7a;
  --accent-color: #e77500;
  --accent-color-2: #fee536;
  --button-color: #3665fe;
  --button-color-2: #fe3651;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}